@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----Cores-----*/
:root{
    --white: #ffffff;
    --black: #0B0B0B;
    --gray: #191919;
    --orange: #FF6200;
    --dark_orange: #CD4F00;
    --fonte: 'Rubik Wet Paint';
}

body{
    background-color: var(--gray);
}

/*-----Menu-----*/
.menu{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--black);
    color: var(--orange);
}

.menu h3{
    font-size: 25px;
    font-weight: 400;
    font-family: var(--fonte);
}

.menu li{
    display: inline-block;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    transition-duration: 0.5s;
}

.menu a:hover{
    color: var(--orange);
}

/*-----Menu_Hamburguer-----*/
.menu button{
    padding: 5px 10px;
    border: none;
    background-color: var(--orange);
    cursor: pointer;
    display: none;
}

/*-----Banner-----*/
.banner{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 90px;
    color: var(--orange);
    font-weight: 400;
    font-family: var(--fonte);
    text-shadow: 0px 5px 7px var(--black);
}

#parallax{
    background-image: url(./Img/banner_halloween.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-----Cards-----*/
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.card{
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--black);
}

.card img{
    width: 100%;
    height: 40vh;
}

.card h3{
    color: var(--orange);
    font-family: var(--fonte);
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    cursor: pointer;
    transition-duration: 0.5s;
}

.card button:hover{
    background-color: var(--dark_orange);
}

.card a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

/*-----Origem-----*/
.origem{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta{
    width: 70%;
    height: 70vh;
    padding: 10px;
    border-radius: 10px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Img/carta.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 10px 20px 0px var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    border: 1px solid var(--orange);
}

.carta h1{
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 50px;
}

.carta p{
    width: 70%;
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
}

/*-----Copyright-----*/
.copyright{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--orange);
    font-size: 20px;
}

/*-----Redes-----*/
.redes{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.redes i{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--black);
    font-size: 30px;
    border-radius: 50%;
}

/*-----Responsividade-----*/
@media screen and (max-width: 768px) {
    .menu button{
        display: block;
    }

    .menu ul{
        display: none;
        position: absolute;
        right: 0%;
        top: 10%;
        width: 30%;
        background-color: var(--black);
        padding: 10px;
    }

    .menu li{
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px;
        transition-duration: 0.5s;
    }

    .menu li:hover{
        background-color: var(--orange);
    }

    .menu a:hover{
        color: var(--black);
    }

    .banner{
        height: 35vh;
    }

    .banner h1{
        font-size: 43px;
    }

    .card{
        width: 90%;
    }

    .carta{
        width: 90%;
    }

    .carta h1{
        font-size: 30px;
    }

    .carta p{
        width: 100%;
        margin-top: 15px;
    }
}